[submodule "sts_lightspeed"]
	path = sts_lightspeed
	url = https://github.com/SimoneBarbaro/sts_lightspeed.git
[submodule "Stochastic-muzero"]
	path = Stochastic-muzero
	url = https://github.com/DHDev0/Stochastic-muzero.git
